.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 50px;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    text-align: center;
    position: fixed;
    top: 200px;
    left: 500px;
    z-index: 1000;
}

.control-panel h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.control-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

.control-panel button:hover {
    background-color: #45a049;
}